.NavBar {
  height: 140px;
  background-color: rgb(189, 189, 189);
  margin: 0;
  padding: 10px 30px 40px;

}

.App {
  margin: 0;
}

.NavBarLink {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  margin-right: 20px;
  text-decoration: none;
}

label {
  display: block;
}

input {
  margin-bottom: 30px;
  width: 370px;
}

.BlogForm {
  margin: 30px;
}

button {
  padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  border: none;
  display: block;
  margin-top: 30px;
}

button:hover {
  background-color: rgb(57, 57, 57);
  color: aliceblue;
}
